<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>
  </div>
  <div class="col-lg-30 col-md-7 text-left mt-4 wow animated slideInDown" data-wow-delay=".15s">
	  Hello. My name is Herman.<br>This is my website to showcase my experience and projects.
   <table style="width:100%" class="text-muted">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th>MSc Advanced Aeronautical Engineering</th>
    <th><a class="landing-link" href="https://www.imperial.ac.uk/aeronautics/study/pg/advanced-aeronautical-engineering/">Imperial College London</a></th>
  </tr>
  <tr>
    <td>BA<span>&#38;</span>Sc How do fluids affect vehicles<span>&#63;</span></td>
    <td><a class="landing-link" href="https://questu.ca/">Quest University Canada</a></td>
  </tr>
</table> 
    <!--
		<p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
	-->
  </div>
</div>
